{% extends "layout.html" %}

{% block title %}
    About Learn with Fun
{% endblock %}

{% block main %}
    <!--content of the home page-->
    <section>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title fredoka-title">About Learn with Fun</h5>
                <p class="fredoka-regular1">Hello,</p>
                <p class="fredoka-regular1">Welcome to Learn with Fun!</p>
                <p class="fredoka-regular1">Here you will find games to learn and test your abilities:</p>
                <ul class="fredoka-regular">
                    <li><a href="/letters" class="game-link">Alphabet</a> Practice recognizing letters through a fun quiz.</li>
                    <li><a href="/shapes_colors" class="game-link">Matching</a> Discover colors and shapes with matching games. </li>
                </ul>
                <p class="fredoka-regular1">Ready to play?</p>
                <p class="fredoka-regular1">Just choose a game by clicking on one of the buttons above.</p>
            </div>
        </div>
    </section>
{% endblock %}
